---
import BasicLayout from '../../layouts/basic.astro';
import VehiculeModifier from '../../components/SveltesComponents/vehiculeModifier.svelte';

export const prerender = false

const { id } = Astro.params;

const API_URL = import.meta.env.API_URL;
const finalUrl = `${API_URL}/api/vehicules/single/${id}`;

const response = await fetch(finalUrl);

if (!response.ok) {
    return Astro.redirect('/'); 
}

const current = await response.json();
---

<BasicLayout>
    <div class="max-w-4xl mx-auto p-8">
        
        <a href="/" class="btn btn-ghost mb-8">← Retour à la liste</a>

        <div class="flex flex-col">
            <div>
                <VehiculeModifier client:load vehicule={current}/>
            </div>
        </div>
    </div>
</BasicLayout>